# SPDX-License-Identifier: Apache-2.0
# Copyright Contributors to the Egeria project.
---
logging:
  level: INFO

imageDefaults:
  registry: docker.io
  namespace: odpi
  tag: latest
  pullPolicy: IfNotPresent

egeria:
  user: myuser
  cohort: coco
  server: myserver

release:
  version: 2.3-SNAPSHOT
  repo: snapshot

image:
  egeria:
    name: egeria
    pullPolicy: Always
  configure:
    name: egeria-configure
    pullPolicy: Always
  apacheatlas:
    name: apache-atlas

apacheatlas:
  user: admin
  password: admin
  proxyserver: atlas

kafka:
  securityContext:
    enabled: false
  zookeeper:
    persistence:
      enabled: false
  persistence:
    enabled: false
